.about {
    margin-top: 140px;

    .subtitle {
        font-weight: 500;
    }

    .title {
        margin-top: 59px;
        line-height: 57px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        &_centered {
            align-items: center;

            .title {
                margin-top: 10px;
            }
        }
    }

    &__content {
        max-width: 540px;
    }

    &__bigtext {
        line-height: 87%;
        font-size: 300px;
        font-weight: 700;
        background: url("../../img/about/textbg.png");
        background-size: cover;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    &__text {
        margin-top: 10px;
    }

    .button {
        margin-top: 40px;
    }

    .decore {
        margin-top: 75px;
    }
}