.contact {
    margin-top: 80px;

    .title,
    &__text {
        text-align: center;
    }

    .line {
        width: 461px;
        height: 1px;
        margin: 0 auto;
        background: $lineColor;
        margin-top: 37px;
    }

    &__text {
        margin-top: 40px;
    }

    .input {
        border: 3px solid $inputColor;
        outline: none;
        display: block;
        border-radius: 20px 0px;
        background: $inputColor;
        padding: 15px 0 15px 40px;
        width: 100%;

        &_email {
            margin-top: 57px;
        }

        &_error {
            border: 3px solid $red;
        }
    }

    &__form {
        width: 772px;
        margin: 40px auto 0 auto;
        position: relative;

        .name-helper, .surname-helper, .email-helper {
            font-size: 12px;
            color: $red;
            position: absolute;
            top: 65px;
            width: 40%;
            display: none;
        }

        .email-helper {
            position: static;
            margin-top: 10px;
        }

        .surname-helper {
            right: 25px;
        }

        .show-helper {
            display: block;
        }

        &_wrapper {
            display: flex;
            justify-content: space-between;
            gap: 100px;
        }

        .button {
            display: block;
            margin: 92px auto 0 auto;
            padding: 18px 48px;
            font-weight: 400;
        }
    }
}