.work {
    margin-top: 300px;
    padding: 180px 0;
    background: #F8F8F8;

    .title {
        text-align: center;
    }

    &__wrapper {
        margin-top: 87px;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__item {
        border-radius: 40px 0px;
        background: $white;
        box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.10);
        width: 185px;
        height: 185px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        &:nth-child(2) {
            transform: translateY(80px);

            &:before {
                content: '';
                display: block;
                width: 220px;
                height: 100px;
                position: absolute;
                top: 0;
                left: -230px;
                background: url(../../img/work/line1.png) no-repeat;
            }
        }

        &:nth-child(3) {
            &:before {
                content: '';
                display: block;
                width: 220px;
                height: 100px;
                position: absolute;
                top: 100px;
                left: -230px;
                background: url(../../img/work/line2.png) no-repeat;
            }
        }

        &:nth-child(4) {
            transform: translateY(80px);

            &:before {
                content: '';
                display: block;
                width: 220px;
                height: 110px;
                position: absolute;
                top: 0px;
                left: -230px;
                background: url(../../img/work/line3.png) no-repeat;
            }
        }
    }

    .line {
        width: 220px;
        height: 100px;
        position: absolute;
    }

    .line1 {
        background: url(../../img/work/line1.png) no-repeat;
        top: 10px;
        left: 200px;
    }

    &__number {
        color: $black;
        text-align: center;
        font-size: 50px;
        font-weight: 700;
    }

    &__text {
        font-weight: 600;
    }
}